Make-Academy-Scenarios/Recruiter Update Details
{
    "name": "Softr Update Details (Recruiters)",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 859843,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "My gateway-webhook webhook",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Email",
                        "type": "text"
                    },
                    {
                        "name": "Company",
                        "type": "text"
                    },
                    {
                        "name": "Field",
                        "type": "text"
                    },
                    {
                        "name": "Website",
                        "type": "text"
                    },
                    {
                        "name": "Position",
                        "type": "text"
                    },
                    {
                        "name": "Details",
                        "type": "text"
                    },
                    {
                        "name": "PAGE_AND_SECTION",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2597803
            },
            "mapper": {
                "from": "drive",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING",
                "limit": "1",
                "spreadsheetId": "1LZUbyHxhTC5Jkwx8P-Od0XIqhu9wsuP7995RMe7QpFo",
                "sheetId": "PSU Recruitment Community",
                "includesHeaders": true,
                "tableFirstRow": "A1:CZ1",
                "filter": [
                    [
                        {
                            "a": "D",
                            "o": "text:equal",
                            "b": "{{1.Email}}"
                        }
                    ]
                ],
                "sortOrder": "asc"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (yasserahmed855@yahoo.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Copy of  Profilize -1722770513"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "PSU Recruitment Community"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "orderBy": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "label": "Row number",
                        "type": "number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "label": "Spreadsheet ID",
                        "type": "text"
                    },
                    {
                        "name": "__SHEET__",
                        "label": "Sheet",
                        "type": "text"
                    },
                    {
                        "name": "0",
                        "label": "Recruiter Name (A)",
                        "type": "text"
                    },
                    {
                        "name": "1",
                        "label": "Company (B)",
                        "type": "text"
                    },
                    {
                        "name": "2",
                        "label": "Field (C)",
                        "type": "text"
                    },
                    {
                        "name": "3",
                        "label": "Contact Email (D)",
                        "type": "text"
                    },
                    {
                        "name": "4",
                        "label": "Website (E)",
                        "type": "text"
                    },
                    {
                        "name": "5",
                        "label": "Details. (F)",
                        "type": "text"
                    },
                    {
                        "name": "6",
                        "label": "Position (G)",
                        "type": "text"
                    },
                    {
                        "name": "7",
                        "label": "🔐 Softr Record ID (H)",
                        "type": "text"
                    },
                    {
                        "name": "8",
                        "label": "(I)",
                        "type": "text"
                    },
                    {
                        "name": "9",
                        "label": "(J)",
                        "type": "text"
                    },
                    {
                        "name": "10",
                        "label": "(K)",
                        "type": "text"
                    },
                    {
                        "name": "11",
                        "label": "(L)",
                        "type": "text"
                    },
                    {
                        "name": "12",
                        "label": "(M)",
                        "type": "text"
                    },
                    {
                        "name": "13",
                        "label": "(N)",
                        "type": "text"
                    },
                    {
                        "name": "14",
                        "label": "(O)",
                        "type": "text"
                    },
                    {
                        "name": "15",
                        "label": "(P)",
                        "type": "text"
                    },
                    {
                        "name": "16",
                        "label": "(Q)",
                        "type": "text"
                    },
                    {
                        "name": "17",
                        "label": "(R)",
                        "type": "text"
                    },
                    {
                        "name": "18",
                        "label": "(S)",
                        "type": "text"
                    },
                    {
                        "name": "19",
                        "label": "(T)",
                        "type": "text"
                    },
                    {
                        "name": "20",
                        "label": "(U)",
                        "type": "text"
                    },
                    {
                        "name": "21",
                        "label": "(V)",
                        "type": "text"
                    },
                    {
                        "name": "22",
                        "label": "(W)",
                        "type": "text"
                    },
                    {
                        "name": "23",
                        "label": "(X)",
                        "type": "text"
                    },
                    {
                        "name": "24",
                        "label": "(Y)",
                        "type": "text"
                    },
                    {
                        "name": "25",
                        "label": "(Z)",
                        "type": "text"
                    },
                    {
                        "name": "26",
                        "label": "(AA)",
                        "type": "text"
                    },
                    {
                        "name": "27",
                        "label": "(AB)",
                        "type": "text"
                    },
                    {
                        "name": "28",
                        "label": "(AC)",
                        "type": "text"
                    },
                    {
                        "name": "29",
                        "label": "(AD)",
                        "type": "text"
                    },
                    {
                        "name": "30",
                        "label": "(AE)",
                        "type": "text"
                    },
                    {
                        "name": "31",
                        "label": "(AF)",
                        "type": "text"
                    },
                    {
                        "name": "32",
                        "label": "(AG)",
                        "type": "text"
                    },
                    {
                        "name": "33",
                        "label": "(AH)",
                        "type": "text"
                    },
                    {
                        "name": "34",
                        "label": "(AI)",
                        "type": "text"
                    },
                    {
                        "name": "35",
                        "label": "(AJ)",
                        "type": "text"
                    },
                    {
                        "name": "36",
                        "label": "(AK)",
                        "type": "text"
                    },
                    {
                        "name": "37",
                        "label": "(AL)",
                        "type": "text"
                    },
                    {
                        "name": "38",
                        "label": "(AM)",
                        "type": "text"
                    },
                    {
                        "name": "39",
                        "label": "(AN)",
                        "type": "text"
                    },
                    {
                        "name": "40",
                        "label": "(AO)",
                        "type": "text"
                    },
                    {
                        "name": "41",
                        "label": "(AP)",
                        "type": "text"
                    },
                    {
                        "name": "42",
                        "label": "(AQ)",
                        "type": "text"
                    },
                    {
                        "name": "43",
                        "label": "(AR)",
                        "type": "text"
                    },
                    {
                        "name": "44",
                        "label": "(AS)",
                        "type": "text"
                    },
                    {
                        "name": "45",
                        "label": "(AT)",
                        "type": "text"
                    },
                    {
                        "name": "46",
                        "label": "(AU)",
                        "type": "text"
                    },
                    {
                        "name": "47",
                        "label": "(AV)",
                        "type": "text"
                    },
                    {
                        "name": "48",
                        "label": "(AW)",
                        "type": "text"
                    },
                    {
                        "name": "49",
                        "label": "(AX)",
                        "type": "text"
                    },
                    {
                        "name": "50",
                        "label": "(AY)",
                        "type": "text"
                    },
                    {
                        "name": "51",
                        "label": "(AZ)",
                        "type": "text"
                    },
                    {
                        "name": "52",
                        "label": "(BA)",
                        "type": "text"
                    },
                    {
                        "name": "53",
                        "label": "(BB)",
                        "type": "text"
                    },
                    {
                        "name": "54",
                        "label": "(BC)",
                        "type": "text"
                    },
                    {
                        "name": "55",
                        "label": "(BD)",
                        "type": "text"
                    },
                    {
                        "name": "56",
                        "label": "(BE)",
                        "type": "text"
                    },
                    {
                        "name": "57",
                        "label": "(BF)",
                        "type": "text"
                    },
                    {
                        "name": "58",
                        "label": "(BG)",
                        "type": "text"
                    },
                    {
                        "name": "59",
                        "label": "(BH)",
                        "type": "text"
                    },
                    {
                        "name": "60",
                        "label": "(BI)",
                        "type": "text"
                    },
                    {
                        "name": "61",
                        "label": "(BJ)",
                        "type": "text"
                    },
                    {
                        "name": "62",
                        "label": "(BK)",
                        "type": "text"
                    },
                    {
                        "name": "63",
                        "label": "(BL)",
                        "type": "text"
                    },
                    {
                        "name": "64",
                        "label": "(BM)",
                        "type": "text"
                    },
                    {
                        "name": "65",
                        "label": "(BN)",
                        "type": "text"
                    },
                    {
                        "name": "66",
                        "label": "(BO)",
                        "type": "text"
                    },
                    {
                        "name": "67",
                        "label": "(BP)",
                        "type": "text"
                    },
                    {
                        "name": "68",
                        "label": "(BQ)",
                        "type": "text"
                    },
                    {
                        "name": "69",
                        "label": "(BR)",
                        "type": "text"
                    },
                    {
                        "name": "70",
                        "label": "(BS)",
                        "type": "text"
                    },
                    {
                        "name": "71",
                        "label": "(BT)",
                        "type": "text"
                    },
                    {
                        "name": "72",
                        "label": "(BU)",
                        "type": "text"
                    },
                    {
                        "name": "73",
                        "label": "(BV)",
                        "type": "text"
                    },
                    {
                        "name": "74",
                        "label": "(BW)",
                        "type": "text"
                    },
                    {
                        "name": "75",
                        "label": "(BX)",
                        "type": "text"
                    },
                    {
                        "name": "76",
                        "label": "(BY)",
                        "type": "text"
                    },
                    {
                        "name": "77",
                        "label": "(BZ)",
                        "type": "text"
                    },
                    {
                        "name": "78",
                        "label": "(CA)",
                        "type": "text"
                    },
                    {
                        "name": "79",
                        "label": "(CB)",
                        "type": "text"
                    },
                    {
                        "name": "80",
                        "label": "(CC)",
                        "type": "text"
                    },
                    {
                        "name": "81",
                        "label": "(CD)",
                        "type": "text"
                    },
                    {
                        "name": "82",
                        "label": "(CE)",
                        "type": "text"
                    },
                    {
                        "name": "83",
                        "label": "(CF)",
                        "type": "text"
                    },
                    {
                        "name": "84",
                        "label": "(CG)",
                        "type": "text"
                    },
                    {
                        "name": "85",
                        "label": "(CH)",
                        "type": "text"
                    },
                    {
                        "name": "86",
                        "label": "(CI)",
                        "type": "text"
                    },
                    {
                        "name": "87",
                        "label": "(CJ)",
                        "type": "text"
                    },
                    {
                        "name": "88",
                        "label": "(CK)",
                        "type": "text"
                    },
                    {
                        "name": "89",
                        "label": "(CL)",
                        "type": "text"
                    },
                    {
                        "name": "90",
                        "label": "(CM)",
                        "type": "text"
                    },
                    {
                        "name": "91",
                        "label": "(CN)",
                        "type": "text"
                    },
                    {
                        "name": "92",
                        "label": "(CO)",
                        "type": "text"
                    },
                    {
                        "name": "93",
                        "label": "(CP)",
                        "type": "text"
                    },
                    {
                        "name": "94",
                        "label": "(CQ)",
                        "type": "text"
                    },
                    {
                        "name": "95",
                        "label": "(CR)",
                        "type": "text"
                    },
                    {
                        "name": "96",
                        "label": "(CS)",
                        "type": "text"
                    },
                    {
                        "name": "97",
                        "label": "(CT)",
                        "type": "text"
                    },
                    {
                        "name": "98",
                        "label": "(CU)",
                        "type": "text"
                    },
                    {
                        "name": "99",
                        "label": "(CV)",
                        "type": "text"
                    },
                    {
                        "name": "100",
                        "label": "(CW)",
                        "type": "text"
                    },
                    {
                        "name": "101",
                        "label": "(CX)",
                        "type": "text"
                    },
                    {
                        "name": "102",
                        "label": "(CY)",
                        "type": "text"
                    },
                    {
                        "name": "103",
                        "label": "(CZ)",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2597803
            },
            "mapper": {
                "mode": "select",
                "valueInputOption": "USER_ENTERED",
                "from": "drive",
                "spreadsheetId": "/1LZUbyHxhTC5Jkwx8P-Od0XIqhu9wsuP7995RMe7QpFo",
                "sheetId": "PSU Recruitment Community",
                "rowNumber": "{{3.`__ROW_NUMBER__`}}",
                "includesHeaders": true,
                "values": {
                    "1": "{{1.Company}}",
                    "2": "{{1.Field}}",
                    "3": "{{1.Email}}",
                    "4": "{{1.Website}}",
                    "5": "{{1.Details}}",
                    "6": "{{1.Position}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (yasserahmed855@yahoo.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Copy of  Profilize -1722770513"
                            ]
                        },
                        "sheetId": {
                            "label": "PSU Recruitment Community"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Recruiter Name (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Company (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Field (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Contact Email (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "Website (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "Details. (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "Position (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "🔐 Softr Record ID (H)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Recruiter Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Company (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Field (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Contact Email (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Website (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Details. (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Position (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "🔐 Softr Record ID (H)"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-email:ActionSendEmail",
            "version": 2,
            "parameters": {
                "account": 2598373
            },
            "mapper": {
                "from": "",
                "to": [
                    "{{1.Email}}"
                ],
                "subject": "Updated Profile Information",
                "html": "Your Recruit PSU profile details have been successfully updated. Thank you for your patience.\n\nBest Regards,\nRecruit PSU team.",
                "attachments": [],
                "cc": [],
                "bcc": []
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Restricted connection (222110758@psu.edu.sa)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "type": "email",
                            "label": "Email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "type": "email",
                            "label": "Email address",
                            "name": "value"
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com"
    }
}
